
/* Main Body */
body {
  margin: 0;
  font-family: monospace;
}

/*General Nav Bar*/
.topnav {
  overflow: hidden;
  background-color: #444;
}

/* "Buttons/Options" within the nav bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 20px;
}

/* If hovering mouse over (colour is a purple)*/
.topnav a:hover {
  background-color: #6600FF;
  color: black;
}

/* If set as active, done by checking the page name*/
.topnav a.active {
  background-color: #FF3;
  color: black;
}